<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <!-- post.contentを使って書き換えてください -->
        <%= post.content %>
      </div>
    <% end %>
